.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin: 2rem 0;
}

.button {
  position: relative;
  grid-column: span 6;
  background: rgba(184, 50, 128, 1);
  border-radius: var(--ifm-pagination-nav-border-radius);
  padding: 1.8rem 1.4rem;
}

.button:hover {
  text-decoration: none;
  background: rgba(184, 50, 128, 0.8);
}

.button h3 {
  font-size: 1.25rem;
  color: white;
}

.button p {
  color: white;
  margin-bottom: 0;
}

@media screen and (max-width: 996px) {
  .grid {
    gap: 2rem 0;
  }

  .button {
    grid-column: span 12;
  }
}
